body{
    margin: 0;
}

h1{
    width: 400px;
    height: 200px;
    border-width: thin;
    border-style: groove;
    border-color: green;
}

.caja-uno,
.caja-dos{
    background-color: chocolate;
    border: medium solid orange;
    padding: 10px;
    margin: 20px;
    /*Esto Aplica para margin y pading
    1 valor = aplica a los 4 lados
    2 valores = aplica el primero arriba y abajo   el segundo derecha izquierda
    3 valores = aplica el primero arriba           el segundo derecha izquierda  el tercero abajo
    4 valores = Top  Right  Bottom  Left
    */
    padding: 20px 40px ;
    margin: 40px 20px;
    padding: 0 40px 20px;
    margin: 50px 30px 0;
    padding: 0 40px 20px 50px;
    margin: 100px 50px 30px 0px;
}

.caja-bloque,
.caja-linea{
    background-color: darkcyan;
    width: 500px;
    height: 250px;
    color: white;
    border: medium solid greenyellow;
    padding: 16px;  
}


.caja-bloque{
    margin:32px;
    display: inline;
}

.caja-linea{
    margin:48px;
    display:block;
}

.caja-none,
.linea-bloque,
.caja-hidden{
    border: medium solid black;
    background-color: darkgreen;
    color: white;
    width: 600px;
    height: 300px;
}

.linea-bloque{
    display: inline-block;
}

.caja-none{
    display: none;
}

.caja-hidden{
    visibility: hidden;
}

.overflow{
    background-color: darkturquoise;
    width: 200px;
    height: 100px;
    overflow: visible;
    overflow: hidden;
    overflow: scroll;
    overflow: auto;;
}


.box-sizing-content{
    background-color: deepskyblue;
    box-sizing: content-box;
    width: 500px;
    height: 250px;
    padding:10px;
    border: thick solid black;
}

.box-sizing-border{
    background-color: deepskyblue;
    box-sizing:border-box;
    width: 500px;
    height: 250px;
    padding:10px;
    border: thick solid black;
}

.container-col-3{
    background: burlywood;
    margin-top: 20px;
    width: 606px;
    height: 300px;
    
}

.container-col-3 > *{
    box-sizing: border-box;
    width: 200px;
    border: thin solid black;
    float: left;    
    padding: 10px;
}