*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;
    font-size: 16px;   
    scroll-behavior: smooth; 
}

*::after,
*::before{
    box-sizing: inherit;
}


.titulares{
    background: #222;
    color: #eee;
    padding: 1rem;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 0 auto
}

.menu ul{
    list-style: none;
}

header{
    display: flex;
    flex-direction: column;
    align-items:center ;
}

.hero-image{
    background-image: url("../F2sMT8rWQAEQiDV.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0,0.15);
    color: #fff;
    min-height: 100vh;
}


.hero-image div{    
    min-height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,0.75);   
}

.hero-image div h1{
    font-size: 5vh;
}

.image-flex{
    width: 400px;
    height: 400px;
}


.flex-responsive{
    display: flex;
    flex-flow:row wrap;
}

.flex-responsive-item{
    border: medium solid red;
    flex: 1 1 320px;
}

@media screen and (min-width: 1024px){

    header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .menu ul{
        display: flex;
    }

    .menu li{
        padding: 1rem;
    }

    .flex-container{
        display: flex;
        flex-direction: row;
    }

    .flex-item{
        flex: 0 1 50%
    }

    .flex-order-1{
        order: 1;
    }
}