*{
   
}

img{
    max-width: 100%;
    height: auto;
}

.card{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: thick solid black;
    margin-bottom: 3rem;
    overflow: hidden;
}

.filter{
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: thick solid black;
    margin-bottom: 3rem;
    overflow: hidden;
}


.filter img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
    transition: .2s;

    /* Filtros */
    filter: blur(1rem);
    filter: brightness(.75);
    filter: contrast(1);
    filter: grayscale(1);
    filter: sepia(1);
    filter: hue-rotate(50deg);
    filter: invert(1);
    filter: opacity(0);
    filter: saturate(0);
}

.filtros-multiples{
    filter: invert(1) blur(.5rem) opacity(.5);
}



.back-drop{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
    top: 0;
    left: 0;
}


.back-drop h4{
    font-size: 1.5rem;
    padding: 1rem;
    color: white;
    background-color: rgba(255,102,255 ,.5);
    backdrop-filter: blur(.5rem);
   
}

.blend-mode img{
    mix-blend-mode: color-burn;
}

.bg-blend-mode{
    background-image: url("/Fv5iHwbXoAQw0Iy.jpg"), url("../6cc4d59e-7bc0-4582-8dc4-f813197a2a6a.jpg");
    background-size: cover;
    background-blend-mode:darken ;
}

.clip-path{
    clip-path: circle();
}