*{
   
}

img{
    max-width: 100%;
    height: auto;
}

.box{
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border: thick solid black;
    margin-bottom: 3rem;
    overflow: hidden;
}

.card{
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    border: thick solid black;
    margin-bottom: 3rem;
    overflow: hidden;
}


.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
    transition: .2s;

    /* Filtros */
    filter: blur(1rem);
    filter: brightness(.75);
    filter: contrast(1);
    filter: grayscale(1);
    filter: sepia(1);
    filter: hue-rotate(50deg);
    filter: invert(1);
    filter: opacity(0);
    filter: saturate(0);
}



