*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.container{
    background-color: #ff0000;
    height: 30vh;
    display: flex;  
    flex-direction: row;      
    flex-wrap: nowrap;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items:stretch;
    align-content: flex-start;    
    width: 100%;
}

.items{
    border: medium solid greenyellow;    
    background-color: #666;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 100px;
    

    width: 200px;
}



.items:nth-child(2){
    /*
    flex-grow: 3;
    */
     flex-shrink: 0;

}

.items:nth-child(2){
    /*
    flex-grow: 3;
    */
}



