html{
    box-sizing: border-box;
    background-color: black;
    margin: 0;
    padding: 0;
}

body{
    background-color: antiquewhite;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

.pixeles{
    background-color: cadetblue;
    width: 500px;
    height: 400px;
    padding: 20px;
    border: thick solid black;
    font-size: 32px;
}

.em{
    font-size: 1em;
    background-color: cadetblue;
    padding: 20px;
    border: thick solid black;
    font-size: 32px;
}

.em2{
    background-color: orange;
    font-size: 2em;
    padding: 1em .5em;
}

.em-child{
    background-color: salmon;
    border:thick solid white;
    font-size: 2em;
}

.rem{
    font-size: 2rem;
}

.rem-div{    
    background-color: cadetblue;   
    border: thick solid black;

}

.exs-div{
    background-color: salmon;
    border: thick solid beige;

    font-size: 3ex;
}


.ches{
    background-color: cadetblue;
    
    width: 100px;
    width: 10ch;
}

.chess{
    width: 10ch;
    background-color: cadetblue;   
}

.percentage{
    background-color: green;
    width: 80%;
    font-size: 100%;
}

.span-linea{
    background-color: pink;
    width: 100%;
}

.viewport{
    background-color: darkcyan;
    width: 100%;
    height: 50vh;
    height: 100vh;
}

.vmax{
    background-color: darksalmon;
    width: 50vmax;
    height: 50vmin;
    border:thick solid cyan
}

.vmin{
    background-color: darksalmon;
    width: 50vmax;
    height: 50vmin;
    border:thick solid cyan
}