html{
    scroll-behavior: smooth;
}

h1{
    background-color: black;
    color: yellowgreen;
    border: 3px solid yellowgreen;
    text-align: center;
    padding: 5px;
}
p{
    color:midnightblue
}

i{
    color: orange;
}


/*los Id se considera un antipatron(mala practica)*/
#parrafo-dos{
    background-color: skyblue;
}

.texto-32{
    font-size: 32px;
}

.bg-skyblue{
    background-color: skyblue;
}

.texto-20{
    font-size: 20px;
}

.bg-steelblue{
    background-color: steelblue;
}

.textwhite{
    color: white;
}

.hijos-directos > li {
    background-color: thistle;
}

.hijos-descendientes b{
    background-color:  thistle;
}