html{
    scroll-behavior: smooth;
}

h1{
    background-color: black;
    color: yellowgreen;
    border: 3px solid yellowgreen;
    text-align: center;
    padding: 5px;
}
p{
    color:midnightblue
}

i{
    color: orange;
}


/*los Id se considera un antipatron(mala practica)*/
#parrafo-dos{
    background-color: skyblue;
}

.texto-32{
    font-size: 32px;
}

.bg-skyblue{
    background-color: skyblue;
}

.texto-20{
    font-size: 20px;
}

.bg-steelblue{
    background-color: steelblue;
}

.textwhite{
    color: white;
}

.hijos-directos > li {
    background-color: thistle;
}

.hijos-descendientes b{
    background-color:  thistle;
}


.hermanos-general ~li{
    background-color: thistle;
}

.hermanos-adyacentes + li{
    background-color: thistle;
}

.selectores-atributos a[href]{
    color:orangered
}


/* Aplica estilos a todos los elementos que tengan como atributo el target con blank*/
.selectores-atributos a[target="_blank"]{
    font-weight: bold;
}


/* Aplica estilos a todos los atributos que en su href contenga la palabra google en cualquier parte*/
.selectores-atributos a[href*="google"]{
    font-size: 22px;
}


/* Aplica estilos a todos los atributos que el href empiece con http:*/
.selectores-atributos a[href^= "http:" ]{
    text-decoration: none;
}


/* Aplica estilos a todos los atributos que el href termine con .com:*/
.selectores-atributos a[href$= ".com" ]{
   background-color: brown;
}

/* Aplica estilos al elemento que en su clases contenga la palabra curso*/
.selectores-atributos a[class~="cursos" ]{
    color:violet;
    background-color: steelblue;
 }

 /* aplica estilos si contiene la palabra y que despues de la palabra en cuestion pueda venir un gion medio*/
.selectores-atributos a[class|="menu" ]{
    font-style: italic;
 }

 /* Selector Universal */
 *{
    font-family: sans-serif;
 }

 .selector-universal *{
    font-size: 24px;
 }



 .form-pseudoclases *:required{
   border: 1px solid yellow;
 }

 .form-pseudoclases *:valid{
    border-color: green;
 }

 .form-pseudoclases *:invalid{
    border-color: red;
 } 

 .form-pseudoclases *:focus{
    background-color: skyblue;
 } 

 .form-pseudoclases *:disabled{
    background-color: rgb(233, 136, 236);
 } 

.menu-pseudoclases a:visited{
     color:red;
 }

 .menu-pseudoclases a:hover{
    color:orange
    }


.p-pseudoclases:hover{
    font-size: 20px;
    transition: .2s ease-in-out;
}

#temario-css:target{
    background-color: lightgreen;
}

.lista-pseudo-clases li:first-child{
    color:green
}

.lista-pseudo-clases li:last-child{
    color:pink;
}

.lista-pseudo-clases li:nth-child(3){
    color:navy;
}

.lista-pseudo-clases li:nth-child(4n){
    font-size: 20px;
}

.lista-pseudo-clases li:nth-child(3n){
    font-weight: bold;
}

.lista-pseudo-clases li:nth-child(even){
 background-color: yellow;
}

.lista-pseudo-clases li:nth-child(odd){
    background-color: orange;
}

.articulo-pseudoclase p:first-of-type{
    color: red;
}

.articulo-pseudoclase p:last-of-type{
    color: red;
}

.articulo-pseudoclase p:nth-of-type(3){
    color: fuchsia;
}
.articulo-pseudoclase *:not(p){
    background-color: beige;
}


.saga-geminis::before{
    content: "🏆";
}

.saga-geminis::after{
    content: "🐖";
}

.saga-precio:before{
    content: "$";
    font-weight: bold;
}

.saga-precio::after{
    content: "Pesos";
    font-weight: bold;
}


.p-pseudoelementos::first-letter{
    font-size: 20px;
    font-weight: bold;
}

.p-pseudoelementos::first-line{
    color:red;
}

.p-pseudoelementos::selection{
    color:rgb(255, 255, 255);
    background-color:black ;
}

.input-pseudoelementos::placeholder{
    color: green;
    font-style: italic;
}


/*Agrupacion de Selectores*/
.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="email"],
.form-agrupar-selectores textarea{
 border-color: yellow;
 background-color: black;
 border-style: dashed;
 border-width: 2px;
 font-size: 20px;
 display: block;
 width: 300px;
}

/* Especificidad */

blockquote#cita-marco.cita-marco{
    background-color:lightsteelblue !important ;
}

blockquote{
    background-color: burlywood;
}

#cita-marco{
    background-color: lightgreen;
}


blockquote.cita-marco{
    background-color: tomato;
}

.cita-marco{
    background-color: cornflowerblue;
    font-size: 32px;
    border-style: dotted;
    border-color: red;
}

blockquote#cita-marco{
    background-color: lightsalmon;
}

blockquote#cita-marco.cita-marco{
    background-color:moccasin !important ;
}


.cita-marco cite{
    background-color: pink;
    border: inherit;
}