*{
    font-family: arial;
}

.font{
    font-family: 'Times New Roman', Times, serif;
    font-family: sans-serif;
    line-height: 1.5;
    font-variant: small-caps;
}

/* Formato Woff*/ 

@font-face{
    font-family: "Chalet";
    src: url("../assets/MASTERPLAN___.ttf")format("ttf");
}

.fuentes{
    font-family: Chalet;
}

.text{
 text-decoration: none;
}

.text-overflow{
    background-color: antiquewhite;
    border: thin solid black;
    width: 50%;
    text-align: start;
    text-decoration:none;
    text-indent: 1rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 2rem;
}